<!-- contact displayed here -->
<div class="jumbotron jumbotron-sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <h1>Contact us</h1>

Feel free to contact us.

     <h1>0546784400-454563</h1>

  www.ontiribrian.com.



     <h2>info@bootanswers.com</h2>
   </div>
   </div>
   </div>
   </div>
